# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Airflow runtime
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt
logs/
dags/__pycache__/

# dbt runtime
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
profiles.yml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.tar
*.tar.gz
